<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GP List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
    <li ion-item *ngFor="let item of items" >
     <div class="ion-title">
      <b>{{item.clinicName}}</b>
     </div>
      <div class="item-note" >
        Address:{{item.clinicAddress}}
      </div>
      <div class="item-note">
        Phone:{{item.phoneNumber}}
      </div>
  <div>
      <button ion-button (click)="openPage(item)">
        Map
    </button>
    <button ion-button (click)="itemTapped($event, item)">
        Call
    </button>
    </div>
 
    </li>
    </ion-item-group>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.clinicRegion}}</b>
  </div>
</ion-content>